.lesson-navigation {
  margin-top: 300px;

  &__item {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
  }

  &__line {
    width: 16px;
    height: 16px;
    border-radius: 50%;

    &--primary {
      background: $primary;
    }

    &--coffee {
      background: $coffee;
    }

    &--whitish-grey {
      background: $whitish-grey;
    }

    &--light-grey {
      background: $light-grey;
    }

    &--greyish-brown {
      background: $text-primary;
    }
  }

  .line {
    width: 27px;
    height: 2px;
    border: 1px solid $camo;
    margin: 0 5px;
  }

  &__title {
    color: $grey;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
}
