<%= title('About') %>

<div class="page-container">
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-start-3 md:col-span-8">
      <div class="pb-20">
        <h1 class="page-heading-title">About Learn with Datamonk</h1>
        <p class="prose max-w-none prose-gray dark:prose-invert">
Datamonk is built for learners who are serious about mastering real-world tech skills — without needing a CS degree or costly bootcamp. Not everyone has access to formal education, and many prefer a hands-on, self-driven approach. Datamonk fills that gap by offering a structured, high-quality learning path designed for intermediate learners who want to level up with practical, in-depth projects and guidance.        </p>
      </div>

      <h2 class="text-center text-gray-700 dark:text-gray-300 text-2xl mb-12">What you can expect at Learn with Datamonk</h2>
      <%= render(AboutPage::BeliefComponent.with_collection(t('.beliefs'))) %>
    </div>
  </div>
</div>

<%= render 'static_pages/about/overview' %>

<div class="page-container" id="contact-us">
  <div class="flex p-8 items-center flex-col md:flex-row">


    <div class="flex-1 mt-8 md:mt-0 text-center">
      <h2 class="mb-4 font-bold text-2xl">Want to contact us?</h2>

      <p class="pb-8 max-w-md mx-auto dark:text-gray-400 text-gray-500">
        Connect with our friendly community on discord, a chat and networking platform or <a href="mailto:rgupta.datamonk@gmail.com" class="underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300">send us an email</a>.
      </p>

      <%= link_to 'Chat on Slack', DATAMONK_CHAT_URL, class: 'button button--secondary px-4', target: '_blank', rel: 'noreferrer' %>
    </div>
  </div>
</div>

