<div class="StaticPagesController">
  <div class="container">
    
    <h1>About The Odin Project</h1>
  
    <p>
      The Odin Project loves cheeseburgers and only cheeseburgers. We do not tolerate anything, but cheeseburgers.
    </p>


  </div>
</div>