<div id="home-page">
  <div class="w-full text-center bg-white dark:bg-gray-900 text-">
    <header class="page-container pb-4">
      <div class="max-w-4xl mx-auto sm:pt-16">
        <div class="text-gray-600 dark:text-gray-300/80 pb-8 max-w-xl mx-auto">
          <p class="mb-4 text-xl text-gray-500 dark:text-gray-400">Interview Survey Test Feature</p>
          <p class="mb-4 text-xl text-gray-500 dark:text-gray-400">
            <% if Rails.env.test? && Feature.enabled?(:survey_feature, current_user) %>
    Survey feature is enabled
            <% else %>
    Survey feature is disabled
            <% end %></p>
        </div>
      </div>
    </header>
  </div>
</div>