<%= title('Team') %>

<div class="page-container">
  <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl pb-10">
    <h1 class="page-heading-title pb-0">Meet our team</h1>
    <!-- <p class="text-lg text-gray-500">Ornare sagittis, suspendisse in hendrerit quis. Sed dui aliquet lectus sit pretium egestas vel mattis neque.</p> -->
  </div>

  <div class="space-y-16">
    <ul role="list" class="mx-auto grid grid-cols-2 gap-12 sm:grid sm:grid-cols-3 sm:gap-12 lg:grid-cols-4 lg:max-w-5xl">
      <% I18n.t("team_members").values.each do |team_member| %>
        <%= render Team::MemberComponent.new(team_member: team_member) %>
      <% end %>
    </ul>
  </div>
</div>
