<div class="mb-6">
  <div class='flex justify-center'>
    <%= render Course::BadgeComponent.new(course:, options: {show_badge: true }) %>
  </div>

  <%= link_to path_course_url(path, course), class: 'no-underline' do %>
    <h1 class="mt-4 text-center text-3xl font-medium mx-auto text-gray-800 dark:text-gray-300" data-test-id="course-title-header">
      <%= course.title %> Course
    </h1>
  <% end %>
</div>
