
<div id="complete-button" class="flex items-center justify-center">
  <% if lesson.completed? %>
    <%= button_to lesson_completion_path(lesson.id), form_class: 'w-full h-full', method: :delete, data: { test_id: 'complete-button' }, class: 'button button--primary h-[54px] sm:h-full w-full md:w-60 hover:bg-teal-700' do %>
      <span class="flex items-center">
        <%= inline_svg_tag 'icons/checkmark-circle-solid.svg', class: "h-6 pr-2 #{'pulse-once' if animate}", aria: true, title: 'check', desc: 'checkmark icon' %>
        <span>Lesson Completed</span>
      </span>
    <% end %>
  <% else %>
    <%= button_to lesson_completion_path(lesson.id), form_class: 'w-full h-full', data: { test_id: 'complete-button'}, class: 'button button--primary h-[54px] sm:h-full w-full md:w-60 hover:bg-teal-700' do %>
      <span> Mark Complete </span>
    <% end %>
  <% end %>
</div>
