{
  "plugins": [
    ["prismjs", {
        "languages": ["ruby", "javascript", "css", "markup", "sql", "erb", "jsx", "diff", "ejs", "bash", "properties", "json", "yaml"],
        "plugins": ["line-numbers", "toolbar", "copy-to-clipboard"],
        "css": true
    }]
  ]
}
