# Local Database Credentials
POSTGRES_USERNAME: ''
POSTGRES_PASSWORD: ''

# GitHub Integrations
# GITHUB_API_TOKEN is required to import curriculum content and properly run the app locally
GITHUB_API_TOKEN: ''
GITHUB_APP_ID: 1234
GITHUB_SECRET: 1234
GITHUB_WEBHOOK_SECRET: 1234

# Authentication for lesson completion statistics
API_USERNAME: ''
API_PASSWORD: ''

# Discord Bot Integration
ODIN_BOT_ACCESS_TOKEN: ''

# Google Omniauth
GOOGLE_CLIENT_ID: 1234
GOOGLE_CLIENT_SECRET: 1234
