<h1>Tracks#show</h1>
<p>Displays all courses in track, similar to /courses/ page</p>

<div class="container">
  <% @courses.each do |course| %>
    <%= render 'courses/course_card', course: course %>
  <% end %>
</div>
