<div>
  <%= button_to omniauth_authorize_path(resource_name, provider), class: 'button button--secondary w-full py-2 px-4 text-sm font-medium text-gray-500 focus:ring-0 dark:focus:ring-offset-gray-800', title: provider, data: { test_id: "#{provider}-btn", turbo: false } do %>
    <span class="sr-only">Sign in with <%= provider.capitalize %></span>
    <%= inline_svg_tag "icons/#{provider}.svg", class: 'h-5 w-5', aria: true, title: "#{provider} icon" %>
  <% end %>
</div>
