@theme {
  --color-gold: #CE973E;
  --color-gold-50: #F3E6D0;
  --color-gold-100: #EFDDC0;
  --color-gold-200: #E7CCA0;
  --color-gold-300: #DFBA7F;
  --color-gold-400: #D6A95F;
  --color-gold-500: #CE973E;
  --color-gold-600: #A9792B;
  --color-gold-700: #7C5920;
  --color-gold-800: #503914;
  --color-gold-900: #231909;
}
