@utility lesson-content__panel {
  @apply bg-gray-200/90 p-6 rounded-lg dark:bg-gray-800 dark:highlight-white dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10;

  & > *:first-child {
    @apply mt-0;
  }

  & code {
    @apply bg-gray-300 dark:bg-gray-700/30;
  }

  & pre code {
    @apply bg-transparent dark:bg-transparent;
  }
}

@utility lesson-content {
  & kbd {
    @apply px-1.5 py-1 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-md dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500;
  }

  & code {
    @apply bg-gray-200;
  }

  & pre code {
    @apply bg-transparent! p-0 pt-1;
  }

  & a > code {
    @apply text-pink-700 dark:text-pink-400/90;
  }

  & a > strong {
    @apply text-current;
  }

  & a > img:hover {
    @apply cursor-zoom-in;
  }

  & > section:first-child > h3 {
    @apply mt-0;
  }

  & a {
    @apply hover:no-underline;
  }

  & :is(h3, h4) > a {
    @apply text-inherit!;
  }

  & :is(h3, h4)[id] {
    @apply scroll-mt-10;
  }
}

@utility toc-item-active {
  @apply text-gray-800 bg-gray-100 dark:bg-gray-700/40 dark:text-gray-300 border-l-2 border-gold-600!;
}

@utility inline-img {
  @apply inline m-auto;
}

@layer components {
  [data-lesson-toc-target="toc"] li {
    @apply border-l-2 border-gray-300 dark:border-gray-400
  }
}
