 <div class='max-w-prose mx-auto <%= classes %>'>

   <div class="lesson-content prose prose-gray prose-a:text-blue-800 visited:prose-a:text-purple-800 prose-code:bg-gray-100 prose-code:p-1 prose-code:font-normal dark:prose-a:text-blue-300 dark:visited:prose-a:text-purple-300 dark:prose-code:bg-gray-700/40 prose-code:rounded-md break-words line-numbers dark:prose-invert dark:antialiased prose-pre:rounded-xl prose-pre:bg-slate-800 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/70 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 " data-controller="syntax-highlighting" <%= tag.attributes(data: data_attributes) %>>
    <%= content %>
   </div>

   <% if footer? %>
    <div class="pt-10 flex items-center ">
      <%= footer %>
    </div>
   <% end %>
 </div>
