 <div class="lesson-content max-w-prose mx-auto prose md:prose-lg prose-gray prose-a:font-normal prose-a:text-blue-800/90 visited:prose-a:text-purple-900/80 prose-code:bg-gray-100 prose-code:p-1 prose-code:font-normal dark:prose-a:text-blue-300/80 dark:visited:prose-a:text-purple-300/80 dark:prose-code:bg-gray-700/40 prose-code:rounded-md break-words line-numbers dark:prose-invert dark:antialiased prose-pre:rounded-xl prose-pre:bg-slate-800 prose-pre:shadow-lg dark:prose-pre:bg-slate-800/70 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10 <%= classes %>" data-controller="syntax-highlighting diagramming" <%= html_data_attributes_for(data_attributes) %>>
  <%= content %>
 </div>
