<div class="relative my-12">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span data-test-id='divider-message'
          class="px-3 bg-gray-50 dark:bg-gray-900 text-2xl font-medium text-gray-800 dark:text-gray-300"
    >
      <%= message %>
    </span>
  </div>
</div>
