<div class="sm:grid sm:grid-cols-12 sm:gap-x-6 pb-14 <%= classes %>">
  <%= image media: @media %>

  <div class="sm:col-span-10 text-center sm:text-left space-y-3">
    <%= title media: @media %>
    <%= description media: @media %>
  </div>
</div>
