<%= link_to href, class: classes, data:, target: '_blank', rel: ('noreferrer' if noreferrer) do %>
  <span><%= text %></span>
  <%= inline_svg_tag 'icons/open-new-tab.svg', class: 'h-4 w-4 ml-1 inline', aria: true, desc: 'New tab' %>
<% end %>
