<button type="button" data-action="click->visibility#toggle" class="flex text-sm focus:outline-hidden" aria-expanded="false" aria-haspopup="true" data-test-id="dropdown-button">
  <span class="sr-only">Open user menu</span>
  <%= content %>
</button>
