<div class="max-w-5xl w-full mx-auto">
  <div class="sm:flex-auto">
    <h1 class="text-xl font-semibold leading-6 text-gray-800 dark:text-gray-300">Lesson completions</h1>
    <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">Total lesson completions for all lessons.</p>
  </div>

  <%= render 'admin_v2/reports/date_filters', url: admin_v2_reports_lesson_completions_path %>

  <%= turbo_frame_tag 'lesson_completion_stats', class: 'block mt-4 h-80' do %>
    <%= render Charts::LineChartComponent.new(
          labels: @lesson_completions_stats.keys.map { |date| date.to_fs(:"graph_#{params.fetch(:period, 'day')}") },
          display_x_labels: params.fetch('display_x_labels', true),
          datasets: [
            {
              label: 'Lesson completions',
              data: @lesson_completions_stats.values,
              fill: true,
              backgroundColor: 'blue-200',
              borderColor: 'blue-600',
              borderWidth: 2
            }
          ],
        ) %>
  <% end %>
</div>
