<%= title('Installation Guides') %>

<div class="page-container min-h-screen">
  <h1 class="page-heading-title text-center">Installation Guides</h1>
  <ul>
    <% @lessons.each do |lesson| %>
      <li class="max-w-md mx-auto my-4 rounded-lg shadow transition bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700">
        <%= link_to lesson_path(lesson) do %>
          <p class="text-1xl text-center p-4 text-gray-600 dark:text-gray-300">
            <%= lesson.title %>
          </p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
