<%= title('Interview Survey') %>

<div>
  <div class="page-container">
    <h1 class="page-heading-title">Interview Survey</h1>

    <div class='max-w-xl mx-auto'>
      <%# where form will be rendered %>
    </div>
  </div>
</div>
