<div>
  <h2 class="mb-8 text-xl font-semibold text-center">There are two main ways you can contribute:</h2>
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
    <% contributions = t('.ways_to_contribute') %>
    <% contributions.each do |contribution| %>
      <%= render CardComponent.new(classes: 'flex flex-col flex-between h-full border-t-8 border-t-gold-600 dark:border-t-gold-700') do |card| %>
        <% card.with_header do %>
          <h3 class="text-xl font-medium text-center"><%= contribution[:title] %></h3>
        <% end %>

        <% card.with_body(classes: 'pt-4') do %>
          <p class="prose text-gray-500 prose-gray dark:prose-invert dark:text-gray-300/70"><%= contribution[:description] %></p>
        <% end %>

        <% card.with_footer(classes: 'text-center mt-auto') do %>
            <%= link_to(
                  'View on GitHub',
                  github_link(contribution[:path]),
                  class: 'button button--primary text-base',
                  target: '_blank',
                  rel: 'noreferrer'
                ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
