<section class="bg-white dark:bg-gray-900">
  <div class='page-container space-y-10'>
    <div>
      <h2 class="text-center font-bold text-2xl pb-3">Hall of Fame</h2>
      <p class="text-center max-w-prose mx-auto text-gray-500 dark:text-gray-400">
        The Hall of Fame members are the hardworking devs who have built
        The Odin Project into the site that you see before you now.
      </p>
    </div>

    <div class="grid grid-cols-12 gap-6">
      <% members = t('.members') %>
      <% members.each do |member| %>
        <div class="col-span-4 sm:col-span-3 md:col-span-2">
          <%= link_to(member[:github_url], target: '_blank', rel: 'noreferrer') do %>
            <%= image_tag(member[:image], alt: member[:name]) %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="text-center no-underline hover:underline py-6">
      <%= link_to 'View All Contributors',
          github_link('theodinproject/graphs/contributors'),
          class: 'underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300',
          target: '_blank',
          rel: 'noreferrer' %>
    </div>
  </div>
</section>
