<!DOCTYPE html >
<html>
  <p> Hey there, </p>


  <p> We couldn't help but notice it's been awhile since you logged into The Odin Project.
  We know life is busy, and learning to code can be hard.  We're here to help! </p>

  <p> Need some classmates to help you stay focused and figure things out?  
  Check out our <a href="https://plus.google.com/u/0/communities/100013596437379837846">Google group</a> to connect with other learners online.</p>
  

  <p>Our <a href="http://www.theodinproject.com/studygroups">Study Groups</a> page has more info about current groups, or how to start your own.</p>

  <p>Other questions? Comments? Concerns? Shoot us an email at contact@theodinproject.com and
  let us know.</p>

  <p>Hope to see you again soon!
  <br>
  The Odin Project Team
  </p>
  <br>
  <%= render :partial => 'shared/mailer_footer.html.erb' %>
</html>