<div class="max-w-4xl w-full mx-auto">
  <%= render Ui::BackLinkComponent.new(path: admin_team_path, name: 'Team') %>

  <div class="flex items-center mt-8 justify-between">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold leading-6 text-gray-800 dark:text-gray-200">Team activity log</h1>
    </div>
  </div>

  <div class="flow-root max-w-md mt-8">
    <ul role="list" class="-mb-8">
      <%= render_activities(@activities, layout: :activity) %>
    </ul>
  </div>
</div>
