<p><%= t('devise.mailer.invitation_instructions.hello', email: @resource.name) %></p>

<p><%= t('devise.mailer.invitation_instructions.someone_invited_you', url: root_url) %></p>

<p><%= link_to t('devise.mailer.invitation_instructions.accept'), accept_invitation_url(@resource, invitation_token: @token) %></p>

<p><%= t('devise.mailer.invitation_instructions.ignore') %></p>
