<div id="preview-container">
  <%= render ContentContainerComponent.new(classes: 'pt-6') do %>
    <% if markdown.present? %>
      <%= sanitize MarkdownConverter.new(markdown).as_html %>
    <% else %>
      <p>Nothing to preview yet!</p>
    <% end %>
  <% end %>
</div>
