<div class="container-fluid lesson">
  <div class="row">

    <div class="col-lg-3 lesson-nav-wrapper">
      <div>
        <div class="d-none d-lg-block d-xl-block lesson-navigation"></div>
      </div>
    </div>

    <div class="col-lg-6">
      <div>
        <%= react_component("lesson-preview/index", {}) %>
      </div>
    </div>
  </div>
</div>
