<div class="flex justify-between items-center flex-shrink-1 hover:bg-gray-100 dark:hover:bg-gray-700 px-2 rounded-md">
  <%= link_to lesson_url(lesson), class: 'text-lg grow py-2' do %>
    <div class="flex items-center gap-3">
      <%= inline_svg "icons/#{icon}.svg", alt: 'lesson icon', class: 'bg-inherit w-6 dark:text-gray-500 text-gray-400 shrink-0', title: icon_title %>

      <span class="text-gray-800 dark:text-gray-300 "><%= title %></span>
    </div>
  <% end %>

  <%= render Complete::IconComponent.new(lesson:, current_user:) %>
</div>
