<div class="mb-12">
  <h2 class="text-gray-700 text-2xl font-medium text-center mb-4 dark:text-gray-300">Project Submissions</h2>

  <div class="divide-y" data-test-id="user-submissions-list">
    <% project_submissions.each do |project_submission| %>
      <%= render ProjectSubmissions::UserSolutionComponent.new(project_submission:) %>
    <% end %>

    <div class="hidden only:block">
      <h3 class="text-gray-500 text-center text-lg dark:text-gray-400">No submissions yet</h3>
    </div>
  </div>
</div>
