<div class="max-w-4xl py-20 mx-auto text-center">
  <h2 class="mb-4 text-2xl font-light leading-10 text-gray-600 dark:text-gray-200"><%= heading %></h2>
  <% if local_assigns[:sub_heading].present? %>
  <p class="mb-10 font-normal text-gray-500 dark:text-gray-400"><%= sub_heading %></p>
  <% end %>
  <%= button %>
</div>
