<div class="py-20 text-center max-w-4xl mx-auto">
  <h2 class="text-2xl mb-4 font-light leading-10 text-gray-600 dark:text-gray-200"><%= heading %></h2>
  <p class="font-normal mb-10 text-gray-500 dark:text-gray-400"><%= sub_heading %></p>
  <%= button %>
</div>
