<div class="relative flex flex-col items-end space-y-4">
  <div class="fixed z-40 mr-8">
    <% flash.each do |type, message| %>
      <%= render Alerts::FlashComponent.new(type:, message:) %>
    <% end %>
  </div>
</div>
