<!-- Add facebook share button -->


<div class="social-sharing-buttons">


<br>

<div class="social-padding">
  <%= link_to "http://www.facebook.com/sharer.php?u=" + request.url, :target =>"_blank" do %>
     <i class="fa fa-facebook-square"></i>
    <% end %>
</div>

<!-- twitter -->
<div class="social-padding">
    <%= link_to "https://twitter.com/share", :target =>"_blank" do %>
     <i class="fa fa-twitter-square"></i>
    <% end %>
</div>

<!-- pinterest -->

<!-- googleplus -->
<div class="social-padding">
  <%= link_to "https://plus.google.com/share?url=" + request.url, :target =>"_blank" do %>
     <i class="fa fa-google-plus-square"></i>
    <% end %>
</div>


</div>

