<!-- Add facebook share button -->


<div class="social-sharing-buttons">

<% @uri = URI.parse(request.url) %>
<%= @uri.path %>

<br>


<%= link_to "http://www.facebook.com/sharer.php?u=http://www.google.com" do %>
   <i class="fa fa-facebook-square"></i>
  <% end %>


<!-- twitter -->

<!-- pinterest -->

<!-- googleplus -->

</div>

