<!-- Add facebook share button -->


<div class="social-sharing-buttons">


<br>


<%= link_to "http://www.facebook.com/sharer.php?u=" + request.url do %>
   <i class="fa fa-facebook-square"></i>
  <% end %>


<!-- twitter -->

<%= link_to "https://twitter.com/share" do %>
   <i class="fa fa-twitter-square"></i>
  <% end %>


<!-- pinterest -->

<!-- googleplus -->

</div>

