<!-- Add facebook share button -->


<div class="social-sharing-buttons">


<br>

<div class="social-padding">
  <%= link_to "http://www.facebook.com/sharer.php?u=" + request.url, :target =>"_blank" do %>
     <i class="fa fa-facebook-square"></i>
    <% end %>
</div>

<!-- twitter -->
<div class="social-padding">
    <%= link_to "https://twitter.com/share", :target =>"_blank" do %>
     <i class="fa fa-twitter-square"></i>
    <% end %>
</div>

<!-- pinterest -->

<!-- googleplus -->
<div class="social-padding">
  <%= link_to "https://plus.google.com/share?url=" + request.url, :target =>"_blank" do %>
     <i class="fa fa-google-plus-square"></i>
    <% end %>
</div>



<!--   <a href="javascript:(function(){
  window.twttr=window.twttr||{};
  var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;
  if(C>A){G=Math.round((C/2)-(A/2))}
  window.twttr.shareWin=window.open('http://twitter.com/share','','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');
  E=F.createElement('script');
  E.src='http://platform.twitter.com/bookmarklets/share.js?v=1';
  F.getElementsByTagName('head')[0].appendChild(E)}());"><i class="fa fa-twitter-square"/></a>
</div>
 -->
