/* turning off base styles for now as they overide heading sizes */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './buttons.css';
@import './forms.css';
@import './layout.css';
@import './toggle.css';
@import './typography.css';
