<div class="modal fade"
  id="delete-project-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="projectSubmissionDeleteModal"
  aria-hidden="true"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <h1 class="accent">Delete project</h1>
          <p class="text-center">
            Are you sure you want to delete the project submission?
          </p>

          <div class="actions">
            <%= link_to [lesson, project],
              class: 'button btn-danger',
              method: :delete,
              remote: true do %>
              <i class="fa fa-trash"></i>&nbsp;Yes, delete it
            <% end %>

            <button type="button" class="button cancel-button" data-dismiss="modal">
              No, I changed my mind
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>