<div class="modal fade" id="project-submission-modal" tabindex="-1" role="dialog"  aria-labelledby="projectSubmissionModal" aria-hidden="true" data-backdrop="static" data-backdrop="static" data-keyboard="false">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'projects/form', lesson: lesson, project: project %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
