<div class="project-form-container">
  <h1 class="text-center project-form-title accent">Upload your project</h1>

  <%= form_for([lesson, project], remote: true) do |f| %>
    <div class="form-group">
      <div class="input-group">
        <i class="fa fa-github"></i>
        <%= f.text_field :repo_url, class: 'form-control',
          placeholder: 'Repository URL' %>
      </div>
    </div>

    <% if lesson.has_live_preview? %>
      <div class="form-group">
        <div class="input-group">
          <i class="fa fa-paperclip"></i>
          <%= f.text_field :live_preview, class: 'form-control',
          placeholder: 'Live Preview URL' %>
        </div>
      </div>
    <% end %>

    <div class="form-group text-center">
      <%= f.submit (project.new_record? ? 'Upload project' : 'Update project'),
        class: 'button button--primary project-submit-btn' %>
    </div>

    <div class="form-group text-center">
      <button type="button" class="button" data-dismiss="modal">Cancel</button>
    </div>
  <% end %>
</div>
