<div data-test-id='loading-progress-circle' class="inline-flex items-center justify-center group <%= classes_for(:container_size) %>">
  <svg height="100%" width="100%" class="overflow-visible z-30 transform-gpu origin-center -rotate-90" viewBox="0 0 20 20">
    <circle class="text-gray-200 dark:text-gray-400" stroke-width="1.3" stroke="currentColor" fill="none" r="9" cx="50%" cy="50%" />
  </svg>
  <span class="absolute">
    <div class="flex items-center justify-center space-x-0.5 animate-ping">
      <div class="w-1 h-1 bg-gray-200 rounded-full"></div>
      <div class="w-1 h-1 bg-gray-300 rounded-full"></div>
      <div class="w-1 h-1 bg-gray-400 rounded-full"></div>
    </div>
  </span>
</div>
