 <div class="w-full h-full">
    <canvas
      class="chart"
      data-controller="chart"
      data-charts-type-value="line"
      data-chart-data-value="<%= data.to_json %>">
    </canvas>
  </div>
