 <div class="w-full h-full">
    <canvas
      class="chart"
      data-controller="chart-with-crosshair"
      data-chart-with-crosshair-type-value="line"
      data-chart-with-crosshair-data-value="<%= data.to_json %>"
      data-chart-with-crosshair-options-value="<%= options.to_json %>">
    </canvas>
  </div>
