<%= title(@lesson.title) %>

<div class="tmp-container-spacer">
  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-start-3 md:col-span-8">
      <%= react_component(
          "project-submissions/index",
          {
            userId: current_user&.id,
            course: @lesson.course.as_json,
            lesson: @lesson.as_json,
            submissions: @project_submissions.map { |submission| ProjectSubmissionSerializer.as_json(submission, current_user) },
            userSubmission: @user_submission
          }
        ) %>

      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>
