<%= title('Unprocessable entity (500)') %>

<p class="text-base text-gray-600">422</p>
<h1 class="mt-4 text-5xl text-gray-900 font-bold">Unprocessable entity</h1>
<p class="leading-7 mt-6 text-gray-600">The change you wanted was rejected. Maybe you tried to change something you didn't have access to</p>
<div class="mt-10 flex items-center justify-center gap-x-6">
  <%= link_to 'Go back home', root_path, class: 'button button--primary' %>
  <a href="https://github.com/TheOdinProject/theodinproject/issues/new/choose" class="underline hover:no-underline text-gray-600 hover:text-gray-800">Report an issue on GitHub <span aria-hidden="true">&rarr;</span></a>
</div>
