<%= title('Unprocessable entity (500)') %>

<p class="text-base text-gold-600">422</p>
<h1 class="mt-4 text-5xl text-slate-900 font-bold">Unprocessable entity</h1>
<p class="leading-7 mt-6 text-slate-600">The change you wanted was rejected. Maybe you tried to change something you didn't have access to</p>
<div class="mt-10 flex items-center justify-center gap-x-6">
  <%= link_to "Go back home", root_path, class: "button button--primary" %>
  <a href="https://github.com/TheOdinProject/theodinproject/issues/new/choose" class="text-gold-600 hover:text-gold-500">Report an issue on GitHub <span aria-hidden="true">&rarr;</span></a>
</div>
