<div class="row">
  <div class="col text-center mt-3">
    <%= link_to 'Add your solution',
      '#',
      class: 'button button--primary add-submission-button',
      id: 'add-submission-button',
      data: { toggle: 'modal', target: '#project-submission-modal' }
    %>
  </div>
</div>
