<div id="project-solution" class="mb-8 text-left scroll-mt-24">

  <header class="flex flex-col space-y-4 sm:space-y-0 items-center sm:flex-row justify-between w-full pb-8">
    <h3 class="text-2xl font-medium text-gray-900 dark:text-gray-200">Your solution</h3>

    <%= link_to 'View community solutions', lesson_project_submissions_path(lesson), class: 'button button--secondary rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900' %>
  </header>

  <div class="mx-auto">
    <div class="relative block w-full rounded-lg bg-gray-50 dark:bg-gray-700/50 group single-item" data-test-id="current-user-solution">
      <%= render ProjectSubmissions::UserSolutionComponent.new(project_submission:) %>

      <%= link_to new_lesson_project_submission_path(lesson), class: 'p-6 relative hidden only:block group block w-full hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg text-center focus:outline-hidden', data: { turbo_frame: 'modal', test_id: 'add_submission_btn' }  do %>
        <%= inline_svg_tag 'icons/plus-circle.svg', class: 'mx-auto h-12 w-12 text-gray-400 group-hover:text-gray-500 dark:group-hover:text-gray-300', aria: true, title: 'Submit your solution' %>
        <span class="mt-2 block text-sm font-semibold text-gray-900 dark:text-gray-300">Submit your solution</span>
      <% end %>
    </div>
  </div>
</div>
