<div class="mb-8 text-left" data-controller="tabs" data-tabs-index='0' data-tabs-active-class="!bg-gray-50" data-tabs-inactive-class="hidden">

  <header class="flex flex-col space-y-6 justify-between items-center pb-8 text-center md:space-y-0 md:text-left md:flex-row">
    <div class="flex md:flex-start flex-col space-y-1">
      <h3 class="text-2xl font-medium text-gray-900 dark:text-gray-200" id="solutions">Project solutions</h3>

      <span class="isolate inline-flex rounded-md shadow-sm pt-4">
        <button type="button" data-tabs-target='tab' data-action="tabs#change" class="relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Your solution</button>
         <button type="button" data-tabs-target='tab' data-action="tabs#change" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Community solutions</button>
      </span>
    </div>
  </header>

  <div data-tabs-target="panel" class="mx-auto">
    <div id="your-solution">
      <%= render "lessons/project_submissions/your_solution", project_submission: @project_submission, lesson: @lesson %>
    </div>
  </div>

  <div data-tabs-target="panel" class="mx-auto">
    <%= turbo_frame_tag "submissions-list", src: lesson_project_submissions_path(lesson, limit: 10), loading: :lazy do %>
      loading...
    <% end %>
  </div>

</div>
