<div class="hidden xl:block xl:h-full" aria-hidden="true">
  <div class="sticky top-0 h-screen overflow-hidden pt-4 pb-20 pr-4 animate-pulse">
    <div class="mb-4 flex flex-col gap-2">
      <div class="h-3 w-20 bg-gray-200 dark:bg-gray-800 rounded"></div>
      <div class="h-5 w-40 bg-gray-200 dark:bg-gray-800 rounded"></div>
      <div class="h-1.5 w-full bg-gray-200 dark:bg-gray-800 rounded-full mt-2"></div>
      <div class="h-3 w-16 bg-gray-200 dark:bg-gray-800 rounded"></div>
    </div>

    <div class="flex flex-col gap-6 pt-2">
      <% 14.times do %>
        <div class="h-4 w-full bg-gray-200 dark:bg-gray-800 rounded"></div>
      <% end %>
    </div>
  </div>
</div>
