<div class="py-6" data-controller="visibility">
  <dt class="text-lg">
    <button
      data-controller="css-toggle"
      data-css-toggle-from-class="rotate-0"
      data-css-toggle-to-class="-rotate-180"
      type="button"
      class="flex items-start justify-between w-full text-left text-gray-400"
      aria-controls="faq-0"
      aria-expanded="false"
      data-action="click->visibility#toggle click->css-toggle#toggle"
      data-test-id="faq-question">

      <h2 class="p-1 m-0 text-xl font-semibold text-gray-900 bold dark:text-gray-300">
        <%= item.fetch(:question) %>
      </h2>

      <span class="flex items-center ml-6 h-7">
        <%= inline_svg_tag 'icons/chevron-down.svg', class: 'rotate-0 h-6 w-6 transform', data: { css_toggle_target: 'element' } %>
      </span>
    </button>
  </dt>
  <dd class="hidden pr-8 mt-4 prose max-w-none prose-gray-500 dark:prose-invert dark:antialiased" data-visibility-target="content" data-test-id="faq-answer">
    <%= item.fetch(:answer).html_safe %>
  </dd>
</div>
