@layer components {
  .button {
    min-width: 100px;
    @apply inline-flex items-center px-6 justify-center py-3 border border-transparent
    text-base font-medium rounded-md shadow-sm text-white focus:outline-none
    focus:ring-2 focus:ring-offset-1 hover:text-white focus:text-white no-underline
    cursor-pointer dark:focus:ring-offset-black
  }

  .button--disabled {
    @apply bg-slate-300 text-slate-500 focus:ring-slate-300 hover:text-slate-500
  }

  .button--primary {
    @apply bg-teal-700 hover:bg-teal-800 focus:ring-teal-700
  }

  .button--secondary {
    @apply bg-gold-600 hover:bg-gold-700 focus:ring-gold-500
  }

  .button--danger {
    @apply bg-red-600 hover:bg-red-800 focus:ring-red-400
  }

  .button--gray {
    @apply bg-slate-200 text-slate-700 hover:text-slate-700 hover:bg-slate-300 focus:ring-slate-400
    dark:bg-slate-300 dark:hover:bg-slate-400 focus:text-slate-700 px-4 py-2
  }

  .button--clear {
    @apply border-slate-300 text-slate-700 hover:text-slate-700 bg-white hover:bg-slate-50
    focus:ring-slate-400 focus:text-slate-700 dark:text-slate-300 dark:hover:bg-slate-700
    dark:border-slate-600 dark:focus:ring-slate-600 dark:bg-transparent
  }

  .button--dark {
    @apply bg-gray-700 hover:bg-gray-800 focus:ring-gray-600 dark:hover:bg-gray-600
  }

  .button--medium {
    @apply px-4 py-2
  }

  .button--github {
    @apply bg-gray-900 hover:bg-gray-800 focus:ring-gray-600
  }

  .button--google {
    @apply bg-blue-500 hover:bg-blue-600 focus:ring-blue-400
  }
}

