@layer components {
  /*  Scrollbar CSS  */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #cd9c67 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cd9c67;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  .page-container {
    @apply max-w-7xl mx-auto py-10 px-4 sm:py-14 sm:px-6 lg:px-8;
  }

  @layer utilities {
    .gradient {
      @apply bg-gradient-to-b from-white to-gray-100;
    }

    .highlight-white {
      box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
    }
  }
}
