<%= title(@course.title) %>

<div class="page-container">
  <div class="max-w-3xl mx-auto">
    <%= render 'courses/course/banner', course: @course %>

    <div class="mb-6">
      <h2 class="text-lg font-medium text-gray-700 dark:text-gray-300">Overview</h2>
      <span class="text-gray-500 dark:text-gray-400 prose"><%= @course.description %></span>
    </div>

    <%= render @sections, locals: { course: @course } %>
  </div>
</div>
