<%= title(@course.title) %>

<div class="page-container">
  <div class="max-w-3xl mx-auto">
    <%= render 'courses/course/banner', course: @course, path: @path %>

    <div class="mb-6">
      <h2 class="text-lg font-medium mb-1 text-gray-700 dark:text-gray-300">Overview</h2>
      <p class="text-gray-500 dark:text-gray-400 prose max-w-none"><%= @course.description %></p>
    </div>

    <% @sections.each do |section| %>
      <%= render LessonGroupComponent.new(
            title: section.title,
            lessons: section.lessons,
            current_user:,
          ) %>
    <% end %>
  </div>
</div>
