<div class="flex justify-center">
  <%= link_to github_link("theodinproject/edit/main/#{filename}"), target: :_blank, rel: 'noreferrer noopener', class: 'underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 text-lg block mt-14' do %>
    <span class="fab fa-github mr-1"></span>
    <span>Suggest improvements for this page on GitHub</span>
  <% end %>
</div>
