
<%= link_to "https://github.com/TheOdinProject/theodinproject/issues/new?assignees=nil&labels=Status%3A+Needs+Triage&title=Report%20Issue%20%3A+%3CShort+description+of+your+suggestion%3E", target: :_blank, rel: 'noreferrer noopener', class: 'inline-flex items-center underline hover:no-underline text-gray-600 hover:text-gray-800 dark:text-gray-400 dark:hover:text-gray-300 pr-5 text-sm' do %>
  <%= inline_svg_tag 'icons/flag.svg', class: 'h-4 w-4 mr-1 inline', aria: true, title: 'Report an issue', desc: 'Report icon' %>
  <span>Report an issue</span>
<% end %>