.project-form-container {
  .form-group {
    margin-bottom: 20px;
  }

  .input-group {
    margin: 0 auto;
    @media (min-width: 500px) {
      width: 80%;
    }

    .fa {
      color: $text-primary;
      font-size: 32px;
      left: 10px;
      position: absolute;
      top: 12px;
      z-index: 100;
    }
  }

  .form-control {
    background: $pale-grey-bg;
    padding: 12px 12px 12px 62px;
    height: 54px;
  }

  .project-form-title {
    margin: 70px auto;
  }

  .button {
    @media (min-width: 500px) {
      width: 325px;
    }
  }

  .project-submit-btn {
    border: 0;
    margin-top: 40px;
  }
}

.submissions-list {
  margin: 1.25em 0;
}

#project-submission-modal, #delete-project-modal {
  .modal-dialog {
    max-width: 920px;
  }

  .cancel-button {
    margin-left: 30px;
  }

  @include media-breakpoint-down(xs) {
    .cancel-button {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

#delete-project-modal {
  .actions {
    margin: 30px;
  }
}

.current-user-submission {
  background: rgba(0,0,0,0.03);
}

.project-submission {
  border-bottom: 1px solid $very-pale-grey;
  justify-content: space-between;
  padding: 10px 0;

  &:last-child {
    border: 0;
  }

  @include media-breakpoint-down(sm) {
    .lesson-title-wrapper {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 405px) {
  .votes {
    padding: 0;
  }
}

@include media-breakpoint-up(lg) {
  .add-submission-button {
    min-width: 295px;
  }
}
