<div class="p-8 pb-16" id="project-solutions-blank-state">
  <div class="text-center">
    <%= inline_svg_tag 'icons/folder-plus.svg', class: 'mx-auto h-12 w-12 text-gray-400 dark:text-gray-500', aria: true, title: 'No solutions', desc: 'No solutions icon' %>

    <h3 class="mt-2 text-xl font-semibold text-gray-900 dark:text-gray-200">No solutions</h3>
    <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Be the first</p>
  </div>
</div>
