@import 'tailwindcss';

@import './custom_styles/buttons.css';
@import './custom_styles/layout.css';
@import './custom_styles/typography.css';
@import './custom_styles/buttons.css';
@import './custom_styles/lesson-content.css';
@import './custom_styles/lesson-notes.css';
@import './custom_styles/prism-theme.css' layer(utilities);
@import './custom_styles/animations.css' layer(utilities);
@import './custom_styles/static-pages.css' layer(utilities);
@import './custom_styles/charts.css' layer(utilities);

@config '../../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.

  `cursor: pointer` was removed from buttons in Tailwind CSS v4,
  so it has been added back to preserve expected interactivity from Tailwind v3.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@import 'tom-select/dist/css/tom-select'
