@import 'tailwindcss';
@import './custom_styles/base.css';
@import './custom_styles/buttons.css';
@import './custom_styles/colors.css';
@import './custom_styles/layout.css';
@import './custom_styles/typography.css';
@import './custom_styles/lesson-content.css';
@import './custom_styles/lesson-notes.css';
@import './custom_styles/prism-theme.css' layer(utilities);
@import './custom_styles/animations.css' layer(utilities);
@import './custom_styles/static-pages.css' layer(utilities);
@import './custom_styles/charts.css' layer(utilities);

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Must use :is for specificity. Using :where will cause some light mode styles to take priority */
@custom-variant dark (&:is(.dark, .dark *));

/* These custom classes are not directly used in any views - generated via curriculum content.
   Must ensure Tailwind still generates them. */
@source inline('lesson-note');
@source inline('lesson-note--tip');
@source inline('lesson-note--warning');
@source inline('lesson-note--critical');
@source inline('lesson-content__panel');
@source inline('anchor-link');
@source inline('toc-item-active');
@source inline('inline-img');

@config '../../../tailwind.config.js';
