@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './custom_styles/buttons.css';
@import './custom_styles/layout.css';
@import './custom_styles/typography.css';
@import './custom_styles/buttons.css';
@import './custom_styles/lesson-content.css';
@import './custom_styles/lesson-notes.css';
@import './custom_styles/prism-theme.css';
@import './custom_styles/pagy.css';
@import './custom_styles/animations.css';
@import './custom_styles/static-pages.css';
@import './custom_styles/charts.css';
