@import 'tailwindcss';

@import './custom_styles/base.css';
@import './custom_styles/buttons.css';
@import './custom_styles/layout.css';
@import './custom_styles/typography.css';
@import './custom_styles/buttons.css';
@import './custom_styles/lesson-content.css';
@import './custom_styles/lesson-notes.css';
@import './custom_styles/prism-theme.css' layer(utilities);
@import './custom_styles/animations.css' layer(utilities);
@import './custom_styles/static-pages.css' layer(utilities);
@import './custom_styles/charts.css' layer(utilities);

@config '../../../tailwind.config.js';
