html {
  height: 100%;
  font-size: 100%;
}

body {
  padding-right: 0 !important; // a hacky fix to avoid 15px right padding added when a modal is displayed/hidden
}

a {
  color: $primary;

  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

ul {
  padding-left: 0;
}

.camel {
  color: $primary;
}

.camo {
  color: $camo;
}

.coffee {
  color: $coffee;
}

.grey {
  color: $grey;
}

.pale-grey {
  color: $pale-grey;
}

.orange {
  color: $dusty-orange;
}

.white {
  color: $white;
}

.light {
  font-weight: 300;
}

.bg-white {
  background: $white;
}

.bg-whitesmoke {
  background: $white-smoke;
}

.gradient {
  background-image: linear-gradient(to bottom, $white, $light-grey);
}
