// Place all the styles related to the Unsubscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unsubscriptions-controller {
  width: 70%;
  margin: 0 15%;
}

.email-categories {
  padding: 10px;
  // border: solid 1px #444;
  margin: 5px 5px;
}