<div class="card faq-card" data-controller="reveal"> <!-- controller at top level -->
  <a role="button" data-action="click->reveal#toggle"> <!-- toggle action to show and hide the content -->
    <div class="card-header faq-card-header" role="tab">
      <h2 class="secondary bold faq-question-title text-2xl">
        <%= faq_item[:question] %>
      </h2>
      <i class="fas fa-chevron-down"></i>
    </div>
  </a>

  <div class="hidden" data-reveal-target="content"> <!-- content target -->
    <div class="card-block">
      <%= faq_item[:answer].html_safe %>
    </div>
  </div></div> <!-- /.faq-card -->
