@layer components {
  .lesson-content__panel {
    @apply bg-gray-100 p-6 rounded-lg dark:bg-gray-800 dark:highlight-white;
  }

  .lesson-content__panel > *:first-child {
    @apply mt-0;
  }

  .lesson-content__panel code {
    @apply bg-gray-200 dark:bg-gray-700/30;
  }

  .lesson-content__panel pre code {
    @apply bg-transparent dark:bg-transparent;
  }

  .lesson-content kbd {
    @apply px-1.5 py-1 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-md dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500;
  }

  .lesson-content__panel {
    @apply dark:prose-pre:bg-slate-800/60 dark:prose-pre:shadow-none dark:prose-pre:ring-1 dark:prose-pre:ring-slate-300/10;
  }

  .lesson-content pre code {
    @apply !bg-transparent p-0;
    padding-top: 3px;
  }

  .lesson-content a > code {
    @apply text-pink-700 dark:text-pink-400/90;
  }

  .lesson-content a > strong {
    @apply text-current;
  }

  .lesson-content a > img:hover {
    @apply cursor-zoom-in;
  }

  .lesson-content > section:first-child > h3 {
    @apply mt-0;
  }

  .lesson-content a {
    @apply hover:no-underline;
  }

  .lesson-content :is(h3, h4) > a {
    color:inherit !important;
  }

  .lesson-content :is(h3, h4)[id] {
    scroll-margin-top: 40px;
  }

  [data-lesson-toc-target="toc"] li {
    @apply border-l-2 border-gray-300 dark:border-gray-400
  }

  .toc-item-active {
    @apply text-gray-800 bg-gray-100 dark:bg-gray-700/40 dark:text-gray-300 border-l-2 !border-gold-600;
  }

  .inline-img {
    @apply inline m-auto;
  }
}
