.pagy-nav {
  @apply flex space-x-2 my-8 mx-auto w-fit;
}

.pagy-nav .page a,
.pagy-nav .page.active,
.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page a,
.pagy-nav-js .page.active,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply block px-3 py-1 text-gray-500 dark:text-gray-400 font-semibold;
  &:hover{
    @apply text-gray-700 dark:text-gray-200;
  }
  &:active{
    @apply text-gray-700 dark:text-gray-200;
  }
}

.pagy-nav .page.prev.disabled,
.pagy-nav .page.next.disabled,
.pagy-nav-js .page.prev.disabled,
.pagy-nav-js .page.next.disabled {
  @apply text-gray-400 dark:text-gray-700 first-letter:cursor-default;
  &:hover {
    @apply text-gray-400 dark:text-gray-700;
  }
  &:active {
    @apply text-gray-400 dark:text-gray-700;
  }
}

.pagy-nav .page.active,
.pagy-nav-js .page.active {
  @apply cursor-default text-gold-500 dark:text-gold-500;
  &:hover {
    @apply text-gold-500 dark:text-gold-500;
  }
  &:active {
    @apply text-gold-500 dark:text-gold-500;
  }
}


.pagy-combo-nav-js .pagy-combo-input {
  @apply bg-white px-2 rounded-sm
}

.pagy-combo-nav-js .page.prev,
.pagy-combo-nav-js .page.next {
  &:hover {
    @apply text-gray-800 dark:text-gray-200;
  }
  &:active {
    @apply text-gray-800 dark:text-gray-200;
  }
}

.pagy-combo-nav-js .page.prev.disabled,
.pagy-combo-nav-js .page.next.disabled {
  @apply text-gray-400 cursor-default;
}
