<p> Thanks for being part of the Odin Project! </p>

<p> Please confirm your account email through the link below: </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>