<div class="dark:bg-gray-800">
  <div class="page-container py-20">

    <div class="text-center max-w-3xl mx-auto mb-12">
      <h2 class="text-3xl text-gray-800 dark:text-gray-200 font-medium mb-5">How it works</h2>
      <p class="sm:text-lg">This is the website we wish we had when we were learning on our own. We scour the internet looking for only the best resources to supplement your learning and present them in a logical order.</p>
    </div>
    <div class="flex flex-col md:flex-row max-w-5xl mx-auto text-center">

      <% t('.items').each do |item| %>
        <div class="p-5 flex-1">
          <%= image_tag item[:image], class: 'h-20 sm:h-32 md:h-40 inline', alt: 'how-it-works illustration' %>
          <h3 class='font-medium text-xl mt-8 mb-4'><%= item[:subtitle] %></h3>
          <div class="px-8 sm:px-16 md:px-0 dark:text-gray-400">
            <p><%= item[:description] %></p>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>
